# =============================================================================
# CONFIGURACIÓN DE CONEXIÓN A BASE DE DATOS POSTGRESQL (EXTERNA)
# =============================================================================

# 1. Configuración por campos individuales (Recomendado para facilidad)
DB_HOST=186.101.216.45
DB_USER=postgres
DB_PASSWORD=Radis2026
DB_NAME=db_rutas
DB_PORT=5432
DISABLE_SSL=true


# 2. Configuración alternativa mediante URL única (Opcional - Tiene prioridad sobre los campos de arriba)
# DATABASE_URL=postgresql://usuario:clave@host:5432/nombre_bd?sslmode=require

# Puerto en el que se ejecutará el servidor Express backend
PORT=5000
