# =============================================================================
# PLANTILLA DE CONFIGURACIÓN DE CONEXIÓN (POSTGRESQL)
# =============================================================================

DB_HOST=tu_host_del_servidor_postgres
DB_USER=tu_usuario_de_base_de_datos
DB_PASSWORD=tu_contrasea_de_base_de_datos
DB_NAME=nombre_de_tu_base_de_datos
DB_PORT=5432

# URL de conexión alternativa (Opcional - Tiene prioridad sobre los campos anteriores si se descomenta)
# DATABASE_URL=postgresql://usuario:clave@host:5432/nombre_bd?sslmode=require

PORT=5000
